.hidden {
    display: none;
}
body {
    background: #80888a ;
    font-family: cursive;
    color: rgb(44, 102, 156);
    min-width: 450px;
    display:flex;
    flex-wrap: wrap;
}

h3 { border-bottom: 5px solid rgb(44, 102, 156);        
}
.header {
    background: #ffffff;
    border: 5px solid rgb(44, 102, 156);
    text-align: center;
    width: 100%; 
    margin: 20px 10px 0px 10px;     
}
#teamL
{
    height: 350px;
    
    border: 5px solid rgb(44, 102, 156);
    vertical-align: top;
    padding-left: 4px;
    width: 20%;
    margin-left: 10px;
}
#teamR
{ 
    height: 350px;
    
    border: 5px solid rgb(44, 102, 156);
    width: 20%;
    vertical-align: top; 
    margin-right: 10px;
    padding-left: 4px; 
}
.mapplace
{
    height: auto;
    background: #ffffff;
    box-sizing: border-box;
    width: calc(60% - 48px);
}
.bottbutt {
    background: #ffffff;
    border: 5px solid rgb(44, 102, 156);
    text-align: center;
    margin: 0px 10px 0px 10px;
    width: 100%; 
    height: auto;
}
#progress {
    background-color: #EFEFEF;
    height: 20px;
    border-radius: 4px;
    margin: 4px;  
    margin-top: -20px;
}
#nameR {
    color:red ; 
}
#nameL {
    color: rgb(0, 26, 255);
}
#livesL {
    color: rgb(228, 65, 155);
}
#coinsL {
    color: rgb(255, 215, 0);
}
#livesR {
    color: rgb(228, 65, 155);
}
#coinsR {
    color: rgb(255, 215, 0);
}
.butt {
    border-radius: 7px;
    background-color: #aecedf;
    border: 2px solid rgb(44, 102, 156);
    cursor: pointer;
    color: rgb(15, 85, 150);
    margin-bottom: 4px;
}
#xButton {
    background-color: #ff0000;
    border: 2px solid rgb(211, 24, 24);
    border-radius: 7px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}
.butt:hover {
    background-color: #3734ec;
    color: white;
}
#xButton:hover {
    background-color: #8d0d0d;
    color: white;
}
#gameCaption {
    display: block;
    margin: 10px auto;
    text-align: center;
    /* width: 100%;
    align-self: flex-end;
    color: #3dfa1b;
    margin: 0px 10px 0px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #000;
    height: auto;*/
}
#gameCanvas {
    display: block;
    margin: 20px auto;
}

#task7 {
    width: 100%;
    align-self: flex-end;
    color: #3dfa1b;
    margin: 0px 10px 0px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #000;
    height: auto;
}
#gameList {
    background: #ffffff;
    border: 5px solid rgb(44, 102, 156);
    text-align: center;
    width: 100%; 
    margin: 0px 10px 0px 10px; 
}
#new-game {
    background: #ffffff;
    border: 5px solid rgb(44, 102, 156);
    text-align: center;
    width: 100%; 
    margin: 0px 10px 0px 10px; 
}  
.game-team-winner {
    background: linear-gradient(-45deg, #1E9600, #FFF200, #FF0000);
    animation: gradient 10s ease infinite;
    background-size: 200% 200%;
}
@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
.game-team-back {
    background-color: #ffffff;
}